*, *:before, *:after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

.cuadroImagen {
    height: 75px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px 0 solid #fff;
    box-shadow: 5px 0 10px rgba(0, 0, 0, -6);
}

.imagenLogoTexto {
    margin: auto;
    margin-top: 1%;
    width: 25%;
}

.cuadro {
    margin-top: 10%;
    height: 130px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cuadro .cuadroFormulario {
    padding: 2%;
    width: 20%;
    height: auto;
    background-color: #00c1a0;
    box-shadow: 9px 6px 26px 0px rgba(0,0,0,0.75);
    border: 2px solid #000000;
    margin-top: 5%;
}

.cuadro2 {
    margin: auto;
    margin-top: 2%;
    width: 20%;
    text-align: center;
    padding-bottom: 2%;  
    font-family: 'Orbitron', sans-serif;
    background-color: #00c1a0;
    height: 5%;
    padding-top: 1%;
    box-shadow: 9px 6px 26px 0px rgba(0,0,0,0.75);
    border: 2px solid #000000;
}

.inputFormulario {
    margin-top: 1%;
    margin-left: 2%;
    padding: 2px;
    width: 55%;
    text-align: left;
    justify-items: left;
    justify-content: left;
    margin-bottom: 5%;
}

p {
    text-align: center;
    justify-items: center;
    justify-content: center;
}

.boton {
    text-align: center;
    justify-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-left: 2%;
    height: 12%;
    width: 45%;
    padding: 1%;
}

.titulo {
    padding-bottom: 7%;
    text-align: center;
    font-size: 170%;
}

.error {
    padding-top: 8%;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.menu {
    height: 40px;
    width: auto;
    display: flex;
    justify-content: right;
    align-items: center;
    border-bottom: 1px 0 solid #fff;
    box-shadow: 5px 0 10px rgba(0, 0, 0, -6);
}

.logoImagen {
    width: 20%;
    height: 5%;
}

.menu_items {
    display: flex;
    list-style: none;
    margin-right: 30px;
}

.menu_items li {
    border-radius: 3px;
    margin: 0 5px;
}

.btn_modoOscuro {
    padding-top: 2%;
    font-size: 28px;
}

.btn_menu {
    margin-right: 30px;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    display: none; 
}

ul.show {
    top: 65px;
}

.menu_items li a {
    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-transform: uppercase;
    justify-content: center;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.menu_items li:hover, .active {
    background-color: rgba(0, 0, 0, .3);
    transition: .4s;
}

@media screen and (max-width: 952px) {
    .logo {
        font-size: 30px;
        padding-left: 35px;
    }
    .menu_items li a {
        font-size: 16px;
    }
}

@media screen and (max-width: 1024px) {
    .logo {
        font-size: 20px;
        padding-left: 35px;
    }
    .menu_items li a {
        font-size: 14px;
    }

    .titulo {
		height: calc(10vh - 100px);
		padding: 30px;
        margin-top: 2%;
        margin-bottom: 3px;
	}

	.titulo h1 {
		font-size: 45px;
	}
	
	.titulo p {
		font-size: 25px;
		text-transform: uppercase;
		color: #113CFC;
	}
}

@media screen and (max-width: 1600px) {
    .logo {
        font-size: 25px;
        padding-left: 35px;
    }
    .menu_items li a {
        font-size: 17px;
    }

	.titulo h1 {
		font-size: 45px;
	}
	
	.titulo p {
		font-size: 25px;
		text-transform: uppercase;
		color: #113CFC;
	}
}

@media screen and (max-width: 858px) {
    .menu {
        height: 65px;
    }
    .btn_menu {
        display: inline-flex;
    }
    .menu_items {
        position: fixed;
        width: 100%;
        height: calc(100% - 65px);
        background: #414141;
        top: -100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
    }
    .menu_items li {
        margin: 30px 0 0 0;
        line-height: 30px;
    }
    .menu_items li:hover {
        background: none;
    }
    .menu_items li a {
        font-size: 20px;
        color: #fff;
        font-weight: bold;
    }
    .menu_items li a:hover {
        color: #000000;
    }
    .logo {
        font-size: 25px;
        padding-left: 35px;
    }

    .titulo {
		height: calc(10vh - 100px);
		padding: 30px;
        margin-bottom: 3px;
	}

	.titulo h1 {
		font-size: 35px;
	}
	
	.titulo p {
		font-size: 20px;
		text-transform: uppercase;
		color: #113CFC;
	}
}

@media screen and (max-width: 858px) and (orientation: landscape) {
    .menu_items li {
        margin: 5px 0 0 0;
    }
    .menu_items {
        overflow: scroll;
        height: calc(100% - 65px);
    }
}